label {
  font: var(--text-body-sm);
  color: var(--color-text-body);
  margin-bottom: 12px;
  display: block;
}

input {
  height: 48px;
}

input,
textarea,
select {
  width: 100%;
  padding: 13px 16px;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--color-input-stroke);
  background-color: var(--color-input-base);
  color: var(--color-text-heading);
  font: var(--text-body-md);

  &:hover,
  &:focus {
    outline: 1px solid var(--color-brand-light);
    outline-offset: 0.1px; /* para aparecer a borda no Safari */
  }

  &::placeholder {
    color: var(--color-input-placeholder);
  }

  &:invalid {
    outline: 1px solid var(--color-feedback-danger);
  }

  &:valid + .error {
    display: none;
  }
}

input[type="datetime-local"] {
  color-scheme: dark;
  &::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
    /* color-scheme: dark; */
    opacity: 0.8;
  }
}

.input-wrapper {
  margin-bottom: 16px;
}

#cover-photo {
  .input-wrapper {
    all: unset;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    label#choose-file-button {
      gap: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 6px;
      position: relative;
      width: 119px;
      height: 40px;
      background-color: var(--color-shape-button);
      border-radius: 8px;
      font: var(--text-body-sm-semibold);
      color: var(--color-text-heading);
      padding-block: 4px;
      &:hover {
        background-color: var(--color-shape-hover);
      }
      input[type="file"] {
        width: 119px;
        height: 40px;
        opacity: 0;
        position: absolute;
      }
    }
    #file-name {
      color: var(--color-input-placeholder);
      font: var(--text-body-md);
      max-width: 234px;
    }
  }
}

.error {
  font: var(--text-body-xs);
  color: var(--color-feedback-danger);
  padding-top: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}
