label {
  font: var(--text-body-sm);
  color: var(--color-text-body);
  margin-bottom: 12px;
  display: block;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 13px 16px;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--color-input-stroke);
  background-color: var(--color-input-base);
  color: var(--color-text-heading);
  font: var(--text-body-md);

  &:hover,
  &:focus {
    outline: 1px solid var(--color-brand-light);
    outline-offset: 0.1px; /* para aparecer a borda no Safari */
  }

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

input[type="datetime-local"] {
  color-scheme: dark;
  &::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
    /* color-scheme: dark; */
    opacity: 0.8;
  }
}

.input-wrapper {
  margin-bottom: 16px;
}
