.segmented-control {
  outline: 1px solid var(--color-input-stroke);
  border-radius: 8px;
  background-color: var(--color-input-base);

  display: flex;
  gap: 4px;
  padding-inline: 4px;

  .radio-inner {
    margin-block: 4px;
    padding-top: 12px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    flex: 1;
    gap: 8px;

    position: relative;

    label {
      font: var(--text-body-sm);
      color: var(--color-text-body);
      display: inline-block;
      line-height: 1;
    }

    img {
      display: inline-block;
      height: 16px;
      width: 16px;
      filter: invert(65%) sepia(12%) saturate(284%) hue-rotate(160deg)
        brightness(87%) contrast(85%);
    }
    input {
      all: unset;
      position: absolute;
      inset: 0;
    }
    &:has(:checked) {
      background-color: var(--color-shape-button);

      label {
        color: var(--color-text-heading);
        font: var(--text-body-sm-semibold);
        line-height: 1;
      }
      img {
        filter: invert(67%) sepia(56%) saturate(3083%) hue-rotate(184deg)
          brightness(104%) contrast(101%);
      }
    }
  }
}

#personalization {
  #main-color,
  #event-theme {
    label {
      color: var(--color-text-heading);
    }
  }

  #main-color,
  #event-theme {
    padding-bottom: 28px;
  }

  #main-color {
    .radio-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      .radio-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-shape-button);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        outline: 2px solid var(--color-shape-button);
        input[type="radio"] {
          all: unset;
          position: absolute;
          inset: 0;
          &:checked {
            border-radius: 50%;
            outline: 2px solid var(--color-brand-light);
          }
          &:hover {
            border: 6px solid var(--color-shape-hover);
            border-radius: 50px;
          }
        }
        .circle-inner {
          height: 28px;
          width: 28px;
          border-radius: 50%;

          &.blue-color {
            background-color: var(--color-brand-light);
          }
          &.navy-color {
            background-color: var(--color-accent-navy);
          }
          &.purple-color {
            background-color: var(--color-accent-purple);
          }
          &.fuchsia-color {
            background-color: var(--color-accent-fuchsia);
          }
          &.pink-color {
            background-color: var(--color-accent-pink);
          }
          &.red-color {
            background-color: var(--color-feedback-danger);
          }
          &.orange-color {
            background-color: var(--color-accent-orange);
          }
          &.yellow-color {
            background-color: var(--color-accent-yellow);
          }
          &.lime-color {
            background-color: var(--color-accent-lime);
          }
          &.green-color {
            background-color: var(--color-accent-green);
          }
          &.cyan-color {
            background-color: var(--color-accent-cyan);
          }
        }
      }
    }
  }

  #event-theme {
    .radio-wrapper {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      .radio-inner {
        background-color: var(--color-shape-button);
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 1px solid var(--color-input-stroke);
        border: 2px solid transparent;
        position: relative;
        border-radius: 8px;
        max-width: 134px;
        label {
          padding-top: 8px;
        }
        img {
          border-radius: 4px;
          padding: 4px;
        }
        input[type="radio"] {
          all: unset;
          inset: 0;
          position: absolute;
          &:checked {
            outline: 2px solid var(--color-brand-light);
            border-radius: 8px;
          }
        }
        &:hover {
          border-radius: 8px;
          background-color: var(--color-shape-hover);
        }
      }
    }
  }

  #others {
    label {
      color: var(--color-text-body);
    }

    #style {
      max-width: 176px;
      .switch-wrapper {
        padding-block: 8px;
        line-height: 0;
        display: flex;
        .dark-or-light-text {
          margin: 6.5px 0 6.5px 12px;
          color: var(--color-text-heading);
          font: var(--text-body-sm);
          display: inline-block;
        }
        &:has(input:checked) .dark-or-light-text::after {
          content: "Claro";
        }
        &:has(input:not(:checked)) .dark-or-light-text::after {
          content: "Escuro";
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 64px;
          height: 32px;
          margin: 0;
          padding: 0;
          input {
            /* all: unset; */
            opacity: 0;
            width: 0;
            height: 0;
            &:checked + .slider {
              background-color: var(--color-brand-light);
            }
            &:focus + .slider {
              box-shadow: 0 0 1px var(--color-brand-light);
            }
            &:checked + .slider:before {
              -webkit-transform: translateX(32px);
              -ms-transform: translateX(32px);
              transform: translateX(32px);
              background-color: var(--color-text-heading);
            }
          }
          .slider {
            position: absolute;
            inset: 0;
            /* top: 0;
            left: 0;
            right: 0;
            bottom: 0; */
            background-color: var(--color-input-base);
            outline: 1px solid var(--color-input-stroke);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            &:before {
              position: absolute;
              content: "";
              height: 24px;
              width: 24px;
              left: 4px;
              bottom: 4px;
              background-color: var(--color-input-stroke);
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }
            &.round {
              border-radius: 34px;
              &.round:before {
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
