aside#brand-content {
  /* background: top / contain no-repeat url(../assets/background.jpg); */
  margin: 20px 0 0 20px;
  position: relative;

  .linear-gradient {
    position: relative;
    &::after {
      border-radius: 12px;
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(33, 37, 38, 0.8) 0%,
        rgba(33, 37, 38, 0.65) 20%,
        rgba(33, 37, 38, 0.3) 40.5%,
        rgba(33, 37, 38, 0.1) 100%
      );
    }
  }
  img {
    border-radius: 12px;
  }
  & div#inner-content {
    position: absolute;
    top: 32px;
    left: 32px;

    & div#logo {
      img {
        height: 48px;
        width: 45.85px;
      }

      div#logo-text {
        padding-block: 16px 4px;
        font: var(--text-logo);
        color: var(--color-accent-pink);
      }
    }

    p {
      font: var(--text-body-md-light);
      color: var(--color-text-heading);
    }
  }
}
