div#main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: center;

  height: 100vh;
  max-width: 1280px;
  margin-inline: auto;

  overflow: hidden; /* para nunca ter barra de rolagem */
}
